* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: -1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.keyboard__title {
  font-weight: 600;
  font-size: 32px;
}

.keyboard__text-area {
  display: block;
  width: 700px;
  height: 200px;
  margin: 10px auto 10px;
  padding: 10px;
  font-size: 18px;
  color: #444444;
  border: 3px solid #222222;
}

.keyboard__body {
  width: 704px;
  margin: 0 auto;
  padding: 5px;
  padding-left: 0;
  background: #4a4040;
  border: 3px solid #222222;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 5px;
}

.keyboard__key {
  float: left;
  width: 40px;
  height: 40px;
  margin-left: 6px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  background: #29dbcc;
  border: 1px solid #04a182;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: border-radius 0.3s, background-color 0.3s;
  transition: border-radius 0.3s, background-color 0.3s;
}

.keyboard__key:hover {
  background: #0b4b45;
  -webkit-transition: border-radius 0.3s, background-color 0.3s;
  transition: border-radius 0.3s, background-color 0.3s;
}

.keyboard__descriptional, .keyboard__language {
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row {
  width: 100%;
  height: 40px;
  margin-bottom: 8px;
}

.Tab,
.CapsLock,
.ShiftLeft,
.ControlLeft,
.MetaLeft,
.AltLeft,
.AltRight,
.ControlRight,
.ArrowLeft,
.ArrowDown,
.ArrowRight,
.ArrowUp,
.ShiftRight,
.Enter,
.Delete,
.Backspace {
  font-weight: 500;
  background-color: #2fa399;
}

.Space {
  width: 319px;
}

.ShiftLeft,
.CapsLock,
.Backspace {
  width: 89px;
}

.ShiftRight,
.Enter {
  width: 86px;
}

.Tab {
  width: 43px;
}

.hidden {
  display: none;
}

.caseDown, .caseDown, .caps, .shiftCaps {
  width: 100%;
}

.active {
  background-color: #1453a9 !important;
  border-radius: 5px;
}

.colors {
  font-weight: 600;
  font-size: 18px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

.colors__input, .colors__input2 {
  width: 100px;
  height: 50px;
  border: none;
  outline: none;
  background-color: transparent;
}
